body {
}
.container {
  width: 100%;
  margin: 0 auto;
  height: 70%;
  border: 1px black solid;
  display:block;
}
.topInfo{
  /* background-color: red; */
}
h2{
  float: right;
  padding: 4%;
}
.main {
  background-color: black;
  height: 80px;
  width: 100%;
  text-align: center;
  border: 1px black solid;
}

.main ul {
  text-align: center;
  display: inline-block;
  vertical-align: top;
  
}
.main li {
  color: white;
  text-transform: uppercase;
  list-style-type: none;
  padding: 0px;
  height: 24px;
  margin:0 100px 0px 0;
  display: inline;
}
img {
  height: 20%;
  width: 20%;
}
