body {
}
.container {
  width: 100%;
  margin: 0 auto;
  height: 70%;
  border: 1px black solid;
  display: block;
}
.topInfo {
  /* background-color: red; */
}

.phone{
  display:flex;
  flex-direction: row-reverse;
  float: right;
  color: orange;
}
.main {
  background-color: black;
  height: 30%;
  width: 100%;
  text-align: center;
  border: 1px black solid;
}

.main ul {
  text-align: center;
  display: inline-block;
  vertical-align: top;
}
.main a {
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  list-style-type: none;
  height: 24px;
  text-decoration: none;
  margin: 0 100px 0px 0;
  display: inline;
}
img {
  height: 15%;
  width: 15%;
}
